# URL base del servidor Laravel
# Emulador Android:    http://10.0.2.2:8000
# Dispositivo físico:  http://TU_IP_LOCAL:8000
# Staging:             https://staging.zuraedu.com
# Producción:          https://app.zuraedu.com
EXPO_PUBLIC_API_URL=http://10.0.2.2:8000
